/* Global */
* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 80%;
  margin: auto;
  line-height: 1.5;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  background-color: white;
  padding: 11px;
  padding-left: 10px;
  padding-right: 10px;
  color: coral;
  height: 42px;
  font-weight: 500;
  border: none;
}
#subscribe button:hover {
  background-color: coral;
  color: white;
}

#main-header {
  background-color: grey;
  height: 70px;
  color: white;
  text-align: center;
  border-bottom: 3px solid coral;
}
#main-header .logo {
  color: coral;
}
#main-header h1 {
  float: left;
  margin-top: 10px;
  padding-right: 350px;
}

#main-header li {
  list-style: none;
  padding: 10px;
  float: left;
  display: inline;
  margin-top: 15px;
}
#main-header a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

#main-header .active {
  color: coral;
}
#main-header .active:hover {
  color: white;
}

#main-header a:hover {
  background-color: coral;
  border-radius: 17px;
  padding: 4px 8px 4px 8px;
  font-weight: bold;
}

#showcase {
  background-image: url(../images/bg-img.png);
  background-repeat: round;
  height: 400px;
  color: white;
  text-align: center;
  padding-top: 70px;
}
#showcase h2 {
  letter-spacing: 0.1em;
  font-size: 60px;
}
#showcase h4 {
  font-size: 20px;
  letter-spacing: 0.1em;
}

#subscribe {
  height: 80px;
  background-color: grey;
  padding-top: 50px;
}

#subscribe h3 {
  text-transform: capitalize;
  float: left;
  color: white;
  font-size: 25px;
}

#subscribe form {
  float: right;
  margin-top: 8px;
}
#subscribe input[type="email"] {
  color: white;
  height: 20px;
  width: 200px;
  padding: 10px;
}

#footer {
  height: 80px;
  background-color: coral;
  color: white;
  text-align: center;
  padding-top: 40px;
}

#information {
  height: 300px;
  box-sizing: border-box;
  background-color: rgb(252, 225, 215);
}
.box {
  float: left;
  width: 33%;
  text-align: center;
  margin-top: 90px;
}
